@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
/* Estilizaçoes gerais  */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Josefin Sans";
    font-size: 18px; 
    line-height: 18px;

    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    color: white;
    background-color:black;
}
section{
    background-color:black;
}
h1 {
   font-size: 87px; 
   font-weight: 700;
   line-height: 90px;
   
}
h3,h2{   
    font-weight: 700; 
    line-height: 70px;
    color: white;

}
h2{
    font-size: 70px;
   line-height: 70px;
}
h3{
    font-size: 60px;
}
p{
   line-height: 22px;
}
/* header  */
header > nav.navbar{
    font-size: 22px; 
    font-weight: 600;
}
a.navbar-brand{
    font-size: 28px; 
}
header>nav.navbar>div.container-fluid>div.collapse>ul.navbar-nav>li.nav-item>a.nav-link:hover{
    border-bottom:4px solid #5DFFFF;
}
.containerNavBar{
    width: 88%;
}
/* section Apresentação */
h2.h2-apresentacao{
    color: white;
}

div.containerApresentacao{
    height: 45.8rem;

}
div.img-icone{
    width: 50px;
    padding: 0%;
}
div.spans-apre{
    font-size: 25px;
    line-height: 25px;
    font-weight: 700;
    margin-top: 11rem;
}
.spanOla,.dev,.contato,.spanHeader{
    background: linear-gradient(45deg, #5DFFFF, #AE0CA7);-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.imagemREdesSociais:hover{
    width:32px;
}