@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
/* Estilizaçoes gerais  */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Josefin Sans";
    font-size: 18px; 
    line-height: 18px;

    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    color: white;
    background-color:black;
}
section{
    background-color:black;
}
h1 {
   font-size: 87px; 
   font-weight: 700;
   line-height: 90px;
   
}
h3,h2{   
    font-weight: 700; 
    line-height: 70px;
    color: white;

}
h2{
    font-size: 70px;
   line-height: 70px;
}
h3{
    font-size: 60px;
}
p{
   line-height: 22px;
}
/* header  */
header > nav.navbar{
    font-size: 22px; 
    font-weight: 600;
}
a.navbar-brand{
    font-size: 28px; 
}
header>nav.navbar>div.container-fluid>div.collapse>ul.navbar-nav>li.nav-item>a.nav-link:hover{
    border-bottom:4px solid #5DFFFF;
}
.containerNavBar{
    width: 88%;
}
/* section Apresentação */
h2.h2-apresentacao{
    color: white;
}

div.containerApresentacao{
    height: 45.8rem;

}
div.img-icone{
    width: 50px;
    padding: 0%;
}
div.spans-apre{
    font-size: 25px;
    line-height: 25px;
    font-weight: 700;
    margin-top: 11rem;
}
.spanOla,.dev,.contato,.spanHeader{
    background: linear-gradient(45deg, #5DFFFF, #AE0CA7);-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.imagemREdesSociais:hover{
    width:32px;
}


/* section sobre mim  */
.btnApre{
    color: white;
    font-weight: 700;
    font-size: 19px;
    width: 140px;
    height: 54px;
    border-radius: 12px;
    background-color: #3ccece;
    border: none;
    box-shadow:2px 1px 3px 1px #42dada;
}
.btnApre:hover{
    box-shadow:2px 1px 3px 1px #84177e;

    background-color: #950f8e;

}

div.containerSobreMim{
    padding:180px;
    height: 48.8rem;
}
h2.h2-sobreMim{
    margin-bottom: 2rem;
    margin-top: 6px;
}
.img-daniel{
    border-radius: 10px;
}
.h3-sobreMim1{
    font-size:50px;
   line-height: 50px;
}
.h3-sobreMim2{
    background: linear-gradient(45deg, #5DFFFF, #AE0CA7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    font-size: 32px;
   line-height: 32px;
   font-weight: 700;
}


/* section Tecnologias */

h2.h2-tech{
    margin-bottom: 3rem;
    margin-top: 1rem;
}
div.containerTech{
    height: 48.8rem;
    padding: 9.4rem;
}
.spanTrabalho,.spanProjetos{
    background: linear-gradient(45deg, #5DFFFF, #AE0CA7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
.divImg{
    height: 270px;
    width: 320px;
    padding: 18px;
    border-radius: 4px;
    background-color:   #0c0c0c;


}
.tech-paragrafo,.pProjeto{
   line-height: 20px;
   font-size: 18px;

}
.tech-titulo,.h4Projeto{
    margin-top: 11px;
    margin-bottom: 11px;
    background: linear-gradient(45deg, #5DFFFF, #AE0CA7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* section projetos */


.containerProjeto{
    height: 48.8rem;

    width: 100%;
}
.cardProjeto{
    /* #0B001A;  */
    
    backdrop-filter: blur(30px);
    height: 550px;
    width: 450px;
    padding: 1rem;
    border-radius: 7px;

    box-shadow: 0px 0px 16px rgb(227, 228,237, 0.37);
    border:2px solid rgb(255, 255, 255,0.18);
    
}
.imgProjeto{
    border-radius: 13px;
}

.cardProjeto:hover{
    height: 552px;
    width: 450px;
    border-radius: 7px;
    box-shadow: 0px 0px 10px linear-gradient(90deg, #5DFFFF, #AE0CA7);
    border: 2px solid transparent; 
    background: linear-gradient(black, black) padding-box,
                linear-gradient(90deg, #5DFFFF, #AE0CA7) border-box;
}
.btnProjeto{
    color: white;
    font-weight: 400;
    font-size: 17px;
    width: 110px;
    height: 45px;
    border-radius: 16px;
    background-color: #3ccece;
    border: none;
    box-shadow:2px 1px 3px 1px #42dada;
}
.btnProjeto:hover{
    box-shadow:2px 1px 3px 1px #84177e;

    background-color: #950f8e;

}.btn2{
    margin-left: 84px;
}.h4Projeto{
    font-size: 25px;
}.h2-projeto,.h2Contato{
    margin-bottom: 6rem;
    margin-top: 1rem;
}
/* section de contato */

.sectionContato{
    height: 48rem;
    overflow-x: hidden
}
.message{
    
    padding-left:8rem;
}
.h3-message{
    font-size: 40px;
    color: #42dada;
}

.pInfo{
   line-height: 18px;
}

.containerFormPai{
    padding-left: 6rem;
}
.containerForm{
    height: 31rem;
    width: 30rem ;
    padding: 2rem;
    border-radius: 1rem;
    background-color: #0c0c0c;
    box-shadow: 0px 0px 19px rgba(130, 131, 138, 0.37);

}

.inputs1,.txtArea{
    background-color: #393838;
    border: none;
    border-radius: 9px;
    font-size: 16px;
    transition: box-shadow 2s;
    color: white; 
    width: 26rem;  
    
}
.inputs1:focus,.txtArea:focus{
    background-color:#393838;
    box-shadow:1px 1px 18px 2px #3ccece;
}
.inputs1::placeholder,.txtArea::placeholder{
    color: #ffffff;
}
.form-label{
    font-size: 18px;
}

.inputs1{
    height: 3rem;
}    


.btnForm{
    height: 46px;
    width: 130px;
    background-color: #3ccece;
    box-shadow:2px 1px 3px 1px #3ccece;
    color: white;
    font-weight: 400;
    border: none;
    border-radius: 3rem;
    font-size: 17px;
}
.btnForm:hover{
    box-shadow:2px 1px 3px 1px #84177e;

    background-color: #950f8e;

}

/* footer */

.footer{
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 6rem;
}
.pFooter,hr{
    margin: 0%;
}

div.hr{
    height: 4px;
    display: flex;
    justify-content: center;
}
hr{
    width: 88%;
}